/**************** Common ***************/
:root {
    --primary-color: #0F1B4C;
    --text-color: #687690;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins";
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

a:hover:not(.button) {
    text-decoration: underline;
}

.button {
    display: inline-block;
    min-width: 98px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #FFF;
    padding: 18px 16px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;

    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: #F7CE68;
}

.contents {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}


.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

/************** Header *************************/
body>.header {
    background: #E6F0FF;
    width: 100vw;
}

body>.navigation {
    background: #E6F0FF;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 30px;
    padding-bottom: 10px;
}

body>.navigation .contents {
    width: 1110px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

body .navigation .menu ul {
    display: flex;
    margin-left: 50px;
}

body .navigation .menu ul li a {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 14px;
}

body .navigation .actions {
    margin-left: auto;
    white-space: nowrap;
}


body .navigation .actions .action-link {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}

body .navigation .actions .button-action {
    margin-left: 18px;
    padding: 13px 16px;
    font-size: 1.4rem;
    font-weight: 500;
}



.hero {
    display: flex;
    padding-top: 39px;
}

.hero div:not(.info) {
    padding-left: 67px;
    width: 49%;
    align-self: flex-end;
}

.hero .sub-title {
    margin-top: 90px;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.hero .title {
    margin-top: 8px;
    color: var(--primary-color);
    font-size: 6.3rem;
    font-weight: 700;
    line-height: 1.19;
}

.hero .desc {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px;

    color: var(--text-color);
}

.hero .button {
    margin-top: 40px;
    min-width: 170px;
}

/**********************************************/

.clients-logo .first-row {
    margin-top: 98px;
    display: flex;
    justify-content: space-between;
}

.clients-logo p {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 20px;
    color: var(--text-color);
}

.clients-logo .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

/**********************************************/
.guides .sub-title {
    position: relative;
    margin-top: 174px;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 50%;
    transform: translateX(50%);
    width: 41px;
    height: 4px;
    border-radius: 999px;
    background-color: var(--primary-color);
}

.guides .desc {
    width: 459px;
    max-width: 459px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    color: var(--text-color);
}

.guides .list-guide {
    display: flex;
    margin-top: 70px;
    justify-content: space-around;

}

.guides .list-guide .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.guides .list-guide .title {
    margin-top: 26px;
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.guides .list-guide .link {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #0689FF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.guides .list-guide .arrow {
    margin-left: 5px;
}

.guides .guides-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides .guides-cta .button {
    min-width: 170px;
    margin-bottom: 120px;
}

/**********************************************/
.featured {
    background: #F5FAFE;
}


.featured .sub-title {
    padding-top: 110px;
    color: var(--primary-color);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.featured .content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.featured .content .desc {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.featured .content .link {
    color: #0689FF;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .cards {
    display: flex;
    gap: 30px;
}

.featured .cards .card {
    flex: 1;
    margin-top: 68px;
    margin-bottom: 110px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.60);
}

.featured .cards .card>img {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .cards .desc {
    margin: 17px 20px 24px
}

.featured .cards .info {
    margin-bottom: 25px;
}

.featured .cards .desc a {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.featured .cards .desc p {
    /* cho số dòng hiển thị nhiều nhất là 3 vì đã sử dụng class là line-clamp */
    --line-clamp: 3;
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 20px;
}

.featured .cards .info span {
    color: #4D4D52;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    letter-spacing: 0.14px;
    margin-left: 8px;
    margin-right: 20px;
}

/**********************************************/
.stats .first-row {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
}

.stats .img-card {
    position: relative;
    width: 53%;
    height: 493px;
}

.stats .info {
    padding-right: 25px;
    align-self: center;
    width: 337px;
    height: 349px;
}

.stats .info .sub-title {
    position: relative;
    padding-right: 44px;
    padding-bottom: 22px;
    color: var(--primary-color);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28;
}

.stats .info .sub-title::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 5px;
    top: -10px;
    border-radius: 999px;
    background-color: var(--primary-color);
}

.stats .info .desc {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}


.stats .img-card .image img {
    display: block;
    margin-left: auto;
    border-radius: 35px;
    width: 436px;
    height: 492px;
    object-fit: cover;
    object-position: center center;
}

.stats .img-card .card {
    position: absolute;
    width: 261px;
    padding: 48px 24px;
    border-radius: 0px 0px 12px 12px;
    background: #fdfdfd;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.stats .card strong {
    padding-right: 70px;
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.26px;
}

.stats .card .desc {
    color: #A7A7A7;
    padding-top: 9px;
    padding-bottom: 27px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.stats .card .hr {
    height: 1.5px;
    background: #E9E9E9;
}

.stats .avatar-blocks {
    padding-top: 28px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.stats .avatar-block {
    display: flex;
}

.stats .avatar-block img {
    width: 17px;
    height: 17px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    margin: -3px;
    ;
}

.stats .countdown {
    display: flex;
    justify-content: space-between;
    padding: 117px 34px 0px 34px;
}

.stats .countdown strong {
    color: #000000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
}

.stats .countdown p {
    padding-top: 24px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
}

/**********************************************/
.Newsletter {
    margin-top: 120px;
    margin-bottom: 55px;
}



.Newsletter .body {
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.Newsletter .info {
    width: 671px;
    padding: 0px 80px;
}

.Newsletter .sub-title {
    --line-clamp: 2;
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.Newsletter .desc {
    --line-clamp: 3;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    padding-top: 15px;
    padding-bottom: 22px;
}

.Newsletter .button {
    width: 151px;
    height: 50px;
    border-radius: 12px;
    background-color: #FFF;
    color: #002366;
}

.Newsletter .body>img {
    align-self: flex-end;
}

/**********************************************/


.footer .menu,
.footer .logo {
    display: flex;
    justify-content: space-between;
}

.footer .menu h2 {
    padding-top: 50px;
    padding-bottom: 42px;
    color: #1C1C1D;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: normal;
}

.footer .menu a,
.footer .menu p {
    color: #7e7a7a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.footer .menu li {
    padding-bottom: 18px;
}

.footer .menu p {
    width: 275px;
}

.footer .logo {
    padding-top: 70px;
    padding-bottom: 60px;
}

.footer .logo p {
    color: #C2C2C2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}